In [1]:
import pandas as pd
import sqlite3

In [2]:
rsn_df = pd.read_pickle('bd_test.pcl')

In [4]:
con = sqlite3.connect('NADZO_DB.db')
cur = con.cursor()

In [15]:
rsn_df.to_sql('RSN', con=con, if_exists='append', index=False)

5

In [6]:
import uuid

In [12]:
def create_uuid4():
    return str(uuid.uuid4())

In [13]:
rsn_df['uid'] = rsn_df.apply(lambda x: create_uuid4(), axis=1)

In [14]:
rsn_df

,1.1,1.2,1.3,1.4,1.5,2.1.1,2.1.2,2.1.3,2.1.4,2.1.5,...,8.2.5,8.3.5,8.4.5,8.5.5,8.1.6,8.2.6,8.3.6,8.4.6,8.5.6,uid
0,06.09.2022г.,05-308-027-2022,Управление архитектуры и градостроительства Ад...,06.09.2024г.,NaN,Пирмагомедов,Разим,Алифендиевич,56006731592,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6fdee935-07d9-4239-bfc8-2640103ee0f8
0,16.09.2022г.,05-40-028-2022,Управление архитектуры и градостроительства Ад...,16.07.2024г.,NaN,Будунов,Магомед,Каримулаевич,56000258002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46dcc7a9-2b2b-4e80-91b7-2f1a21aa0bcc
0,16.09.2022г.,05-40-029-2022,Управление архитектуры и градостроительства Ад...,16.09.2025г.,NaN,Омаров,Алиасхаб,Гаджимагомедович,50800406308,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ffc5e022-1aa5-448e-bbae-2ea08c2d4ad0
0,19.09.2022г.,05-40-030-2022,Управление архитектуры и градостроительства Ад...,19.09.2024г.,NaN,Абдулатипов,Абдулатип,Алиевич,50900197640,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d754c8e5-5a32-46eb-8d74-1e111ae196cc
0,22.09.2022г.,05-40-031-2022,Управление архитектуры и градостроительства Ад...,22.09.2024г.,NaN,Ибрагимов,Махач,Рамазанович,56206551727,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8ccb64db-58cf-4fab-920e-80513154143d

In [16]:
rnv_df = pd.read_pickle('bd_RNV.pcl')

In [17]:
rnv_df['uid'] = rnv_df.apply(lambda x: create_uuid4(), axis=1)

In [18]:
rnv_df.to_sql('RNV', con=con, if_exists='append', index=False)

1