In [2]:
import pandas as pd
import sqlite3

In [3]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [10]:
df = pd.DataFrame({ 'id': [9, 10], 'name1': ['Sve11ta', 'Gal22ya'], 'age': [41, 55] })

In [12]:
try:
    df.to_sql('user', con=con, if_exists='append', index=False)
except:
    data = pd.read_sql('SELECT * FROM user', con=con)
    df2 = pd.concat([data,df])
    df2.to_sql(name='user', con=con, if_exists = 'replace', index=False)